<header>
    <h1>APWH Unit 9 | Globalization</h1>
    <nav>
        <a>Culture</a>
        <a>Economy</a>
        <a>Technology</a>
    </nav>
</header>

<style>

    header{
        border: 1px solid black;
        font-family: "Open Sans";

        width:100vw;

        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>