---
    import GlobalLayout from "../../layouts/GlobalLayout.astro";
---

<GlobalLayout>
    <div id="main-thing">
		<video autoplay muted loop>
			<source src="/AP-World-Unit-9_PROJECT/videos/tech.mp4" type="video/mp4" >
		</video>
		<div class="split-text-container" style="height:100px;">
			<span class="text-part left">Techn</span>
			<span class="text-part right">ology</span>
		</div>
		<p style="font-size:14px; font-family: 'Open Sans'; font-weight: bold;">That is not a typo</p>
	</div>
    <article>
        <h1>Rapid Development</h1>
        <section>
           <div>
            <h2>Why?</h2>
            When war happens (especially a prolonged one), each side usually invests into reasearch to gain an advantage over their enenmy.<br>
            Now remember how crazy WW2 was, well it lead to the rapid progress of jet Engines and the foundational work for rockets.
            <br>
            <h3>Cold War Factors</h3>
            Now remember how each country back in the cold war was arming themselves to the teeth with nuclear weapons?
            Well guess what, scientists and engineers were behind that and their reasearch during the cold war lead some of their findings to trickle into civilian life.
            <h3>Innovations from the Cold War</h3>
            <ul>
                <li>The Internet, Developed as a means to distribute information across the military and to maintain connection with europe incase the soveits sabotague the Lines Connecting the USA and Europe.</li>
                <li>Computers, Used to decrypt enemy messages. Now used to do almost everything in our lives, even reading and making this.</li>
                <li>Improvement of phones & radios, during WW2 the phone and radio became one of the most important methods of communication. Tank equipment having phones able to communicate with other tanks via radiowaves. Or how about during D-Day when a network had been setup for the landings. <br> Now spreading into civilan life due to it being easy to spread around.</li>
            </ul>
            <br>
           </div>

        </section>
	</article>
</GlobalLayout>