---
    import GlobalLayout from "../../layouts/GlobalLayout.astro";
---

<GlobalLayout>
    <div id="main-thing">
		<video autoplay muted loop>
			<source src="/AP-World-Unit-9_PROJECT/videos/tech.mp4" type="video/mp4" >
		</video>
		<div class="split-text-container" style="height:100px;">
			<span class="text-part left">Techn</span>
			<span class="text-part right">ology</span>
		</div>
		<p style="font-size:14px; font-family: 'Open Sans'; font-weight: bold;">That is not a typo</p>
	</div>
    <article>
		<h1>The spread of culture</h1>
		<section>
            <img src="/AP-World-Unit-9_PROJECT/images/best-tacos.jpg">
			<div>
				There is no denying that global culture is within our own daily lives. I mean here in california alone we eat food from mexico while we are in the USA.<br> We listen to music that has originated here like rock, but has completely devloped in a different country like Sabaton. Or we brought our own music from mexico like <a href="https://youtu.be/QPelGxI2vi8?si=RleDBucIIpa3exjf&t=12">Banda MS</a>
			</div>
		</section>
		<h1 style="text-align: right;">Cultural Diffusion</h1>
		<section>
			<div>
				So culture spreads around the world and becomes part of other cultures
			</div>
		</section>
	</article>
</GlobalLayout>