---
    import GlobalLayout from "../../layouts/GlobalLayout.astro";
---

<GlobalLayout>
    <div id="main-thing">
		<video autoplay muted loop>
			<source src="/AP-World-Unit-9_PROJECT/videos/cash-money.mp4" type="video/mp4" >
		</video>
		<div class="split-text-container" style="height:100px;">
			<span class="text-part left">Global</span>
			<span class="text-part right">| Economy</span>
		</div>
		<p style="font-size:14px; font-family: 'Open Sans'; font-weight: bold;">Cash Money</p>
	</div>
    <article>
		<h1>Multinational Corperations</h1>
		<section>
			<div>
                Multinational Corperations are those at exists around the world. They can serve anything around the world and adapt to the country that they are in.
                Current examples of Multinational corperations are:
                <ul>
                    <li>Amazon - USA</li>
                    <li>Ebay - USA</li>
                    <li>Walmart - USA</li>
                    <li>Samsung - Korea</li>
                    <li>Apple - USA</li>
                    <li>Ikea - Sweden</li>
                </ul>
                Notice how not all of them are from the USA. We aren't the only ones spreading our culture and products.
			</div>
		</section>
		<h1 style="text-align: right;">Outsourcing</h1>
		<section>
			<div>
				So taking internal jobs and giving them to external places to do them. Yeah this sounds good...
                Most knowledge tasks such as desinging or engineering would take place in countries with high educations
                <ul>
                    <li>Finland 🇫🇮</li>
                    <li>Sweden 🇸🇪</li>
                    <li>Japan 🇯🇵</li>
                    <li>Korea 🇰🇷</li>
                    <li>Me lol 😀</li>
                    <li>Heimler 🧔</li>
                </ul>
                Along with manufacturing jobs being sent to countires where labor is cheaper and industrialized like:
                <ul>
                    <li>Mexico 🇲🇽</li>
                    <li>Coasta Rica 🇨🇷</li>
                    <li>Real China 🇹🇼</li>
                    <li>China 🇨🇳</li>
                </ul>
			</div>
		</section>
        <h1>Free trade</h1>
		<section>
			<div>
				As globalization spread so did the economic effects.
                This of course lead to a connected global econonomy in which every country relies on each other for resources and goods.
                Now all of this trading was called free trade as governments and companies could trade with eachother freely without much restriction

                <h2>Organizations & Policies</h2>
                There had to be some order at the very least to get this to work
                Few examples are the:
                <ul>
                    <li>NAFTA, A free trade agreement between mexico, canada, and the USA.</li>
                    <li>WTO (World Trade Organization), An Organization created by the UN to monitor and facilitate free trade agreements across the globe.</li>

                </ul>
			</div>
		</section>
	</article>
</GlobalLayout>