---
    import GlobalLayout from "../../layouts/GlobalLayout.astro";
---

<GlobalLayout>
    <div id="main-thing">
		<div class="split-text-container" style="height:100px;">
			<span class="text-part left">Concl</span>
			<span class="text-part right">usion</span>
		</div>
		<p style="font-size:14px; font-family: 'Open Sans'; font-weight: bold;">Finally</p>
	</div>
    <article>
		<h1>General Effects of globalization</h1>
		<section>
			<div>
				Simply its the world becoming united, even if some countires like it or not. 
				Generally its hass brought good benefits such as:
				<ul>
					<li>Spread of Culture (Reason why we have movies such as squid games or roblox brining everyone together)</li>
					<li>Spread of communication - I can talk with my friend in Wisconsin. I currently have a lot of online friends in Brazil, the UK, Indonesia, and Mexico (Mostly through video games)</li>
					<li>Spread of Economy - A lot of things made in china. Tech products from korea or finland. engineering advancements in the USA or EU</li>
					<li>Corperation - The UN making countires negociate</li>
					<li>Trade - Agreements between countries such as the NAFTA in North America and the EU in europre (More like a economic-political agreement)</li>
				</ul>
			</div>
		</section>
		<h1 style="text-align: right;">Opposition</h1>
		<section>
			<div>
				Even if it brought many benefits, a lot of communities opposed it due to many repeats of history mistakes.

				Many viewed it as colonization all over again with countries repeating patterns
				<ul>
					<li>Companies owning resources in forgein countries</li>
					<li>Exploitation of Labor</li>
					<li>Advanced countires influencing former colonies</li>
				</ul>

				Along with that there had been suppression due to the spread caused by globalization.
				<ul>
					<li>Suppression of Local Cultures due to other cultures overpowering them</li>
					<li>Grown laziness in ethnic communities eversense the spread of the internet</li>
					<li>Ignorance of other problems or outright suppression such as in uganda or indinesia</li>
				</ul>
			</div>
		</section>
		<h1 style="">Good or bad?</h1>
		<section>
			<div>
				Ultimately it depends.
				From my perspective I view it as good as im currently benefitting from it.
				In forgein countires multiple people are suffering from it. 
				So I leave it to you, or our leaders to look at the broader picture. If some of them are rational.
				If I had to pick I would say it has brought more good than ever before.
				<hr>
				But then again, im just one lazy person in an AP Class so, who knows ¯\_(ツ)_/¯
			</div>
		</section>
	</article>
</GlobalLayout>