---
    import GlobalLayout from "../../layouts/GlobalLayout.astro";
---

<GlobalLayout>
    <div id="main-thing">
		<video autoplay muted loop>
			<source src="/AP-World-Unit-9_PROJECT/videos/reaction.mp4" type="video/mp4" >
		</video>
		<div class="split-text-container" style="height:100px;">
			<span class="text-part left" style="color:black;">React</span>
			<span class="text-part right" style="color:black;">ions</span>
		</div>
		<p style="font-size:14px; font-family: 'Open Sans'; font-weight: bold; color:black;">So some like it, some don't</p>
	</div>
    <article>
		<h1>Creation of the UN</h1>
		<section>
			<div>
				Welcome to the United Nations! An organization that invovles almost all countires in the world that handles global relations. Was created after the failure of the "Leauge of Nations" 
                Many countires slowly joined the UN as it was the recognized global authority
			</div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_the_United_Nations.svg/1024px-Flag_of_the_United_Nations.svg.png">
		</section>
		<h1 style="text-align: right;">Creation of Trade Deals</h1>
		<section>
			<div>
				So no surpise that globalization allowed the creation of peacedeals around.
                Check out the <a href="/AP-World-Unit-9_PROJECT/Economic-Globalization">Economic Globalization</a> tab for more info.
                
			</div>
		</section>
	</article>
</GlobalLayout>