---
    import GlobalLayout from "../../layouts/GlobalLayout.astro";
---

<GlobalLayout>
    <div id="main-thing">
		<video autoplay muted loop>
			<source src="/videos/beef-birria-mexican-food.mp4" type="video/mp4" >
		</video>
		<div class="split-text-container" style="height:100px;">
			<span class="text-part left">Global |</span>
			<span class="text-part right">| Culture</span>
		</div>
		<p style="font-size:14px; font-family: 'Open Sans'; font-weight: bold;">Im Hungry</p>
	</div>
    <article>
		<h1>The spread of culture</h1>
		<section>
            <img src="/images/best-tacos.jpg">
			<div>
				There is no denying that global culture is within our own daily lives. I mean here in california alone we eat food from mexico while we are in the USA.<br> We listen to music that has originated here like rock, but has completely devloped in a different country like Sabaton. Or we brought our own music from mexico like <a href="https://youtu.be/QPelGxI2vi8?si=RleDBucIIpa3exjf&t=12">Banda MS</a>
			</div>
		</section>
		<h1 style="text-align: right;">Effects of Globalization</h1>
		<section>
			<div>
				You yourself are currently living the effects about globalization. Yes you the one reading this website held together by duct tape and zipties. <br> 
				<h2>Spread of Information</h2>
				This could count as the spreading of information as its availible to the entire world, all that you need is a computer and a internet connect. I someone from South Africa or Mexico can see this site. 
				<h2>Spread of Culture</h2> 
				Look at the music that you or I currently listen too. Possibly K-Pop or rock, these don't originate from the country you are visting from do they? (Unless you are from south korea for K-Pop or USA for rock, most likey).
				<ul>
					<li> <a href="https://youtu.be/f7T55UixV-o?si=WzNkPXqTUPQSEdfl&t=72">K-Pop</a> Originating from South Korea (Why Heimler)</li>
					<li> <a href="https://www.youtube.com/channel/UCjQhd1APsd5NQhiVZV7GYzg">Sabaton</a> Originating from Sweden</li>
				</ul>
				(You can also partially blame youtube for the spread)
				<h2>Global Economy</h2>
				Hey so you know how everything is made in china, taiwan or costa rica for some reason? Thats global economics. We buy or build factories in forgein countries and import it back for us to use. Even look at walmart, amazon, or ebay even, they all ship world wide and have products from around the world. If I wanted to I could buy a clock from the UK or wine from france or a toy from mexico.
			</div>
		</section>
	</article>
    https://youtu.be/cANF1GPT6yQ?si=s4q48Gnbk7MZAQaW&t=37
</GlobalLayout>