---
    import GlobalLayout from "../../layouts/GlobalLayout.astro";
---

<GlobalLayout>
    <div id="main-thing">
		<video autoplay muted loop>
			<source src="/videos/beef-birria-mexican-food.mp4" type="video/mp4" >
		</video>
		<div class="split-text-container" style="height:100px;">
			<span class="text-part left">Global |</span>
			<span class="text-part right">| Culture</span>
		</div>
		<p style="font-size:14px; font-family: 'Open Sans'; font-weight: bold;">Im Hungry</p>
	</div>
    https://youtu.be/cANF1GPT6yQ?si=s4q48Gnbk7MZAQaW&t=37
</GlobalLayout>